body {
  margin: 3%;
  font-family: sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
nav .nav_title h1 {
  color: rgb(11, 99, 40);
  font-size: 35px;
}
nav .nav_list a {
  text-decoration: none;
  color: rgb(11, 99, 40);
  margin-inline: 10px;
  font-size: 20px;
}
nav .nav_list a:hover {
  color: black;
}

#intro_cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#intro_cover .cover_img img {
  width: 100%;
}
#intro_cover .cover_text {
  font-size: 20px;
  color: black;
}

#menu {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
#menu .menu_title h2 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  color: rgb(11, 99, 40);
}
#menu .menu_title p {
  font-size: 20px;
  text-align: center;
  margin: 5px;
}
#menu .menu_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}
#menu .menu_card .menu_figure {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#menu .menu_card .menu_img img {
  width: 420px;
  height: 410px;
}
#menu .menu_card .menu_description {
  margin: 20px;
}
#menu .menu_card .menu_description h2 {
  margin: 0;
  text-align: center;
}
#menu .menu_card .menu_description p {
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
}
#menu .menu_card .menu_description .price {
  color: rgb(5, 78, 112);
  font-size: 30px;
}

#review {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#review .tabs_subtitle h2 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  color: rgb(11, 99, 40);
}
#review .tabs_subtitle p {
  font-size: 20px;
}
#review .tabs {
  width: 60%;
}
#review .tabs .tabs_item {
  background-color: rgba(239, 239, 239, 0.705);
  padding: 10px 20px;
  margin: 20px;
}
#review .tabs .tabs_item h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}
#review .tabs .tabs_item p {
  font-size: 20px;
  margin-top: 10px;
}

#location {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
#location .location_subtitle {
  margin-bottom: 70px;
}
#location .location_subtitle h2 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  color: rgb(11, 99, 40);
}
#location .location_wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#location .location_wrap .location_img img {
  width: 700px;
}
#location .location_wrap .location_address p {
  font-size: 20px;
}

#contact {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
#contact .contact_subtitle h2 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  color: rgb(11, 99, 40);
}
#contact .contact_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#contact .contact_container form {
  display: flex;
  flex-direction: column;
}
#contact .contact_container form label {
  font-size: 20px;
  margin-top: 10px;
}
#contact .contact_container form input {
  width: 300px;
  padding: 10px;
  border-radius: 40px;
}
#contact .contact_container form button {
  margin: 0 auto;
  margin-top: 20px;
  width: 100px;
  padding: 5px;
  border-radius: 40px;
}
#contact .contact_container .img img {
  width: 400px;
}/*# sourceMappingURL=main.css.map */