$principalColor: rgb(11, 99, 40);
$secondaryColor: black;
$blueColor: rgb(5, 78, 112);
$backgroundGray: rgba(239, 239, 239, 0.705);

@mixin subtitle {
  text-align: center;
  font-size: 40px;
  margin: 0;
  color: $principalColor;
}

body {
  margin: 3%;
  font-family: sans-serif;
}

// navigation section

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  .nav_title {
    h1 {
      color: $principalColor;
      font-size: 35px;
    }
  }
  .nav_list {
    a {
      text-decoration: none;
      color: $principalColor;
      margin-inline: 10px;
      font-size: 20px;
      &:hover {
        color: $secondaryColor;
      }
    }
  }
}

// cover section

#intro_cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  .cover_img {
    img {
      width: 100%;
    }
  }
}

// about us section

#about_us {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .about_us_subtitle {
    h2 {
      @include subtitle;
    }
  }
  .about_us_text {
    p {
      text-align: center;
      font-size: 20px;
    }
  }
  .about_us_imgs {
    display: flex;
    justify-content: center;

    img {
      width: 550px;
      height: 700px;
      margin: 50px;
    }
  }
}

// menu section

#menu {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  .menu_title {
    h2 {
      @include subtitle;
    }
    p {
      font-size: 20px;
      text-align: center;
      margin: 5px;
    }
  }
  .menu_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    .menu_figure {
      display: flex;
      flex-direction: column;
      padding: 20px;
      margin: 40px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .menu_img {
      img {
        width: 420px;
        height: 410px;
      }
    }
    .menu_description {
      margin: 20px;
      h2 {
        margin: 0;
        text-align: center;
      }
      p {
        margin-top: 5px;
        font-size: 16px;
        text-align: center;
      }
      .price {
        color: $blueColor;
        font-size: 25px;
      }
    }
  }
}
// review section

#review {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .tabs_subtitle {
    h2 {
      @include subtitle;
    }
    p {
      font-size: 20px;
    }
  }
  .tabs {
    width: 60%;
    .tabs_item {
      background-color: $backgroundGray;
      padding: 10px 20px;
      margin: 20px;
      h3 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 0;
      }

      p {
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
}

// location

#location {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  .location_subtitle {
    margin-bottom: 70px;
    h2 {
      @include subtitle;
    }
  }
  .location_wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .location_address {
      p {
        font-size: 20px;
      }
    }
  }
}

// contact

#contact {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  .contact_subtitle {
    h2 {
      @include subtitle;
      margin-bottom: 80px;
    }
  }
  .contact_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      label {
        font-size: 20px;
        margin-top: 10px;
      }
      input {
        width: 300px;
        padding: 10px;
        border-radius: 40px;
      }
      button {
        margin: 0 auto;
        margin-top: 20px;
        width: 100px;
        padding: 5px;
        border-radius: 40px;
      }
    }
    .contact_img {
      img {
        width: 500px;
      }
    }
  }
}

/* Media Queries Sectioon */

@media all and (max-width: 800px) {
  // navigation
  nav {
    .nav_title {
      h1 {
        font-size: 20px;
        text-align: center;
      }
    }
    .nav_list {
      a {
        font-size: 15px;
      }
    }
  }

  //intro

  #intro_cover {
    .cover_img {
      width: 100%;
    }
  }

  // about us section

  #about_us {
    margin-top: 50px;
    .about_us_subtitle {
      h2 {
        font-size: 20px;
      }
    }
    .about_us_text {
      p {
        font-size: 15px;
      }
    }
    .about_us_imgs {
      flex-direction: column;
      img {
        width: 100%;
        height: 400px;
        margin: 0;
        margin-top: 30px;
      }
    }
  }

  // menu
  #menu {
    margin-top: 50px;
    .menu_title {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 15px;
      }
    }
    .menu_card {
      margin-top: 0;
      flex-wrap: nowrap;
      flex-direction: column;

      .menu_figure {
        margin: 30px 0;
      }
      .menu_img {
        img {
          width: 100%;
          height: 200px;
        }
      }
    }
  }

  // review
  #review {
    margin-top: 30px;
    .tabs_subtitle {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 15px;
        text-align: center;
      }
    }
    .tabs {
      width: 100%;
      .tabs_item {
        width: 85%;
        margin: 0;
        margin-top: 10px;
      }
    }
  }

  // location
  #location {
    margin-top: 50px;
    .location_subtitle {
      margin-bottom: 20px;
      h2 {
        font-size: 20px;
      }
    }
    .location_wrap {
      flex-direction: column;
      .location_map {
        iframe {
          width: 100%;
        }
      }
      .location_address {
        padding: 10px;
      }
    }
  }

  //contact
  #contact {
    margin-top: 50px;
    .contact_subtitle {
      h2 {
        margin: 20px 0;
      }
    }
    .contact_container {
      flex-direction: column;
      form {
        input {
          width: 200px;
        }
        button {
          margin-bottom: 40px;
        }
      }
      .contact_img {
        img {
          width: 250px;
        }
      }
    }
  }
}
